In [5]:
import pandas as pd

file_path = 'testpandas.xlsx'

df = pd.read_excel(file_path)

In [4]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [6]:
print(df)

                           Unnamed: 0  Unnamed: 1         Enero  \
0          Ingresos Bar y Restaurante         NaN  5.863843e+05
1   Ventas x Servicios de Restaurante         NaN  4.090400e+05
2           Ventas x Servicios de Bar         NaN  1.773443e+05
3            Ingreso por Habitaciones         NaN  6.699596e+05
4           Servicios de Habitaciones         NaN  6.699596e+05
5                    Total de ingreso         NaN  1.256344e+06
6                                 NaN         NaN           NaN
7                     COSTO DE VENTAS         NaN           NaN
8                         Restaurante         NaN  1.025808e+05
9                            Mariscos         NaN  4.685857e+04
10                                Bar         NaN  8.078479e+04
11                              Hotel         NaN  7.933158e+04
12               Menos Costo de Venta         NaN  3.095557e+05
13                       MARGEN BRUTO         NaN  9.467882e+05
14                            EGRESOS         NaN           NaN
15           Gastos de Administracion         NaN  2.682550e+05
16                     Salarios Fijos         NaN  1.569019e+05
17                Salarios Eventuales         NaN  3.672500e+04
18                               INSS         NaN  3.052565e+04
19                             INATEC         NaN  1.502430e+03
20                          Uniformes         NaN  0.000000e+00
21                             Bonos          NaN  4.260000e+04
22                Gastos del personal         NaN  0.000000e+00
23                   Gastos Generales         NaN  1.757602e+05
24                        Booking.com         NaN  1.604777e+04
25                           Sistema          NaN  2.050521e+03
26                             Correo         NaN  2.886697e+03
27                    Little Hotelier         NaN  4.642887e+03
28                      Mantenimiento         NaN  4.702551e+04
29                       Tren de aseo         NaN  2.688000e+03
30                  Energia Electrica         NaN  2.593628e+04
31            Servicios Profesionales         NaN  9.526230e+03
32                       Agua potable         NaN  5.548000e+03
33                     Gas de Cocinar         NaN  4.280000e+03
34                Comida del Personal         NaN  2.034500e+04
35                    Gestiones admon         NaN  7.300390e+03
36                           Internet         NaN  2.921538e+03
37                              Cable         NaN  3.367500e+03
38                            Spotify         NaN  2.173915e+02
39                           Telefono         NaN  5.276780e+03
40                            Seguros         NaN  2.277740e+03
41                         Transporte         NaN  1.042200e+04
42                        Combustible         NaN  3.000000e+03
43      Compra de bienes y servicios          NaN  0.000000e+00
44               Gastos de Publicidad         NaN  9.987668e+03
45                           Facebook         NaN  9.987668e+03
46            Propaganda y Publicidad         NaN  0.000000e+00
47                 Gastos Financieros         NaN  4.129798e+04
48                  Comisiones Banpro         NaN  2.551756e+04
49                     Comisiones BAC         NaN  3.216987e+03
50                          Alcaldia          NaN  1.256343e+04
51                              Intur         NaN           NaN
52                                NaN         NaN           NaN
53             Total Gastos Operaci√≥n         NaN  4.953009e+05
54                                NaN         NaN           NaN
55             Utilidad del Ejercicio         NaN  4.514874e+05

          Febrero                                         Marzo         Abril
0   366758.174200                   C$               476 665,57  6.109685e+05
1   220054.904500                                  C$274 925,77  3.665811e+05
2   146703.269700                                  C$201 739,80  2.443874e+05
3   598394.920000                   C$               767 031,24  6.134173e+05
4   598394.920000                                  C$767 031,24  6.134173e+05
5   965153.094200                     C$           1 243 696,81  1.224386e+06
6             NaN                                           NaN           NaN
7             NaN                                           NaN           NaN
8    46291.776484                 C$                  81 584,52  8.160232e+04
9    42942.430000                 C$                  38 015,00  6.501148e+04
10   58899.850000                 C$                  60 635,78  1.161603e+05
11   60886.140000                 C$                  68 476,36  7.377462e+04
12  209020.196484                   C$               248 711,66  3.365487e+05
13  756132.897716                   C$               994 985,15  8.878371e+05
14            NaN                                           NaN           NaN
15  204772.279500                   C$               261 645,09  2.405080e+05
16  144650.949500                   C$               152 850,12  1.703189e+05
17   30034.950000                 C$                  30 406,00  3.203994e+04
18   28663.570000                 C$                  36 418,59  3.641859e+04
19    1422.810000               C$                     3 288,38  1.730560e+03
20       0.000000               C$                     1 617,00  0.000000e+00
21       0.000000                 C$                  37 065,00  0.000000e+00
22       0.000000   C$                                      -    0.000000e+00
23  184788.539198                   C$               222 396,34  2.033946e+05
24   32122.222842                 C$                  33 368,22  3.025475e+04
25    2052.085650               C$                     2 053,82  2.055498e+03
26    2888.900754               C$                     5 471,16  3.274245e+03
27    4646.430393               C$                     4 650,36  4.654157e+03
28   31633.580000                 C$                  50 431,05  5.107608e+04
29    1288.000000               C$                     1 088,00  6.880000e+02
30   28956.250000                 C$                  26 853,45  3.128978e+04
31    9532.450000               C$                     9 564,97  9.428330e+03
32    5548.000000               C$                     4 638,00  4.196000e+03
33    3280.000000               C$                     4 625,00  4.606000e+03
34   18545.000000                 C$                  17 960,00  1.752000e+04
35   11711.000000                 C$                  25 666,79  7.578000e+03
36    2923.768050               C$                     3 344,27  3.347006e+03
37    6761.130000               C$                     3 378,63  4.511720e+03
38     217.557399             C$                         217,74  2.179192e+02
39    6231.790000               C$                     6 235,42  6.239440e+03
40    8030.374110               C$                     7 640,47  7.646719e+03
41    6570.000000                 C$                  11 453,00  1.165100e+04
42    1850.000000               C$                     3 756,00  3.160000e+03
43       0.000000   C$                                      -    0.000000e+00
44   21330.721207               C$                     6 836,49  1.221803e+04
45    6830.721207               C$                     6 836,49  1.221803e+04
46   14500.000000   C$                                      -    0.000000e+00
47   37721.058669                 C$                  42 100,59  4.350756e+04
48   22677.000402                 C$                  23 758,97  2.708833e+04
49    5392.528267               C$                     5 904,66  4.175372e+03
50    9651.530000                 C$                  12 436,96  1.224385e+04
51       0.000000   C$                                      -    0.000000e+00
52            NaN                                           NaN           NaN
53  448612.598574                   C$               532 978,52  4.996282e+05
54            NaN                                           NaN           NaN
55  307520.299142                   C$               462 006,63  3.882089e+05

In [7]:
df.isnull().sum()

Unnamed: 0     3
Unnamed: 1    56
Enero          6
Febrero        5
Marzo          5
Abril          5
dtype: int64

In [5]:
print(df)

   house  a  b  c
0      1  1  1  1
1      2  2  2  2
2      3  3  3  3
3      4  4  4  4
4      5  5  5  5
5      6  6  6  6

In [6]:
import pandas as pd

file_path = 'erpandas.xlsx'

df = pd.read_excel(file_path)

In [7]:
print(df)

                               SERVICIOS HOTELEROS S,A Unnamed: 1 Unnamed: 2  \
0                                                 AAKI        NaN        NaN
1    Estado de Resultados al 31 de Diciembre del 20...        NaN        NaN
2                                                  NaN        NaN  DICIEMBRE
3                                            INGRESOS         NaN        NaN
4                           Ingresos Bar y Restaurante        NaN  491866.24
..                                                 ...        ...        ...
254                                           Daiquiri          1         36
255                                                NaN        NaN        NaN
256                                                NaN        NaN        NaN
257                                                NaN        NaN        NaN
258                                                NaN        NaN     952.62

       Unnamed: 3 Unnamed: 4      Unnamed: 5     Unnamed: 6 Unnamed: 7  \
0             NaN        NaN             NaN            NaN        NaN
1             NaN        NaN             NaN            NaN        NaN
2       DICIEMBRE       %DIC   ACUMULADO  C$    ACUMULADO $     % ACUM
3             NaN        NaN             NaN            NaN        NaN
4    13575.689595        NaN  4394711.638684  121295.661738        NaN
..            ...        ...             ...            ...        ...
254            36        NaN             NaN            NaN        NaN
255             0        NaN             NaN            NaN        NaN
256             0        NaN             NaN            NaN        NaN
257             0        NaN             NaN            NaN        NaN
258       5657.11        NaN             NaN            NaN        NaN

    Unnamed: 8                     Unnamed: 9  ... Unnamed: 19  \
0          NaN                            NaN  ...         NaN
1          NaN                            NaN  ...         NaN
2          NaN  Ingresos del mes de Noviembre  ...         NaN
3          NaN                            NaN  ...     PEDIDO
4          NaN               Habitaciones 54%  ...         NaN
..         ...                            ...  ...         ...
254        NaN                            NaN  ...         NaN
255        NaN                            NaN  ...         NaN
256        NaN                            NaN  ...         NaN
257        NaN                            NaN  ...         NaN
258        NaN                            NaN  ...         NaN

        Unnamed: 20 Unnamed: 21  Unnamed: 22  Unnamed: 23 Unnamed: 24  \
0               NaN         NaN          NaN          NaN         NaN
1               NaN         NaN          NaN          NaN         NaN
2               NaN         NaN          NaN          NaN         NaN
3    COSTO UNITARIO         IVA  COSTO TOTAL          NaN         NaN
4             69.91         NaN      2027.39          NaN         NaN
..              ...         ...          ...          ...         ...
254             NaN         NaN          NaN          NaN         NaN
255             NaN         NaN          NaN          NaN         NaN
256             NaN         NaN          NaN          NaN         NaN
257             NaN         NaN          NaN          NaN         NaN
258             NaN         NaN          NaN          NaN         NaN

    Unnamed: 25 Unnamed: 26 TC - 31/12/22 36.2314
0           NaN         NaN           NaN     NaN
1           NaN         NaN           NaN     NaN
2           NaN         NaN           NaN     NaN
3           NaN         NaN           NaN     NaN
4           NaN         NaN           NaN     NaN
..          ...         ...           ...     ...
254         NaN         NaN           NaN     NaN
255         NaN         NaN           NaN     NaN
256         NaN         NaN           NaN     NaN
257         NaN         NaN           NaN     NaN
258         NaN         NaN           NaN     NaN

[259 rows x 29 columns]

In [8]:
import pandas as pd

file_path = 'testpandas.xlsx'

df = pd.read_excel(file_path)

In [9]:
print(df)

   house  a  b  c
0      1  1  1  1
1      2  2  2  2
2      3  3  3  3
3      4  4  4  4
4      5  5  5  5
5      6  6  6  6

In [10]:
import pandas as pd

file_path = 'testpandas.xlsx'

df = pd.read_excel(file_path)

In [11]:
print(df)

                           Unnamed: 0  Unnamed: 1         Enero  \
0          Ingresos Bar y Restaurante         NaN  5.863843e+05
1   Ventas x Servicios de Restaurante         NaN  4.090400e+05
2           Ventas x Servicios de Bar         NaN  1.773443e+05
3            Ingreso por Habitaciones         NaN  6.699596e+05
4           Servicios de Habitaciones         NaN  6.699596e+05
5                    Total de ingreso         NaN  1.256344e+06
6                                 NaN         NaN           NaN
7                     COSTO DE VENTAS         NaN           NaN
8                         Restaurante         NaN  1.025808e+05
9                            Mariscos         NaN  4.685857e+04
10                                Bar         NaN  8.078479e+04
11                              Hotel         NaN  7.933158e+04
12               Menos Costo de Venta         NaN  3.095557e+05
13                       MARGEN BRUTO         NaN  9.467882e+05
14                            EGRESOS         NaN           NaN
15           Gastos de Administracion         NaN  2.682550e+05
16                     Salarios Fijos         NaN  1.569019e+05
17                Salarios Eventuales         NaN  3.672500e+04
18                               INSS         NaN  3.052565e+04
19                             INATEC         NaN  1.502430e+03
20                          Uniformes         NaN  0.000000e+00
21                             Bonos          NaN  4.260000e+04
22                Gastos del personal         NaN  0.000000e+00
23                   Gastos Generales         NaN  1.757602e+05
24                        Booking.com         NaN  1.604777e+04
25                           Sistema          NaN  2.050521e+03
26                             Correo         NaN  2.886697e+03
27                    Little Hotelier         NaN  4.642887e+03
28                      Mantenimiento         NaN  4.702551e+04
29                       Tren de aseo         NaN  2.688000e+03
30                  Energia Electrica         NaN  2.593628e+04
31            Servicios Profesionales         NaN  9.526230e+03
32                       Agua potable         NaN  5.548000e+03
33                     Gas de Cocinar         NaN  4.280000e+03
34                Comida del Personal         NaN  2.034500e+04
35                    Gestiones admon         NaN  7.300390e+03
36                           Internet         NaN  2.921538e+03
37                              Cable         NaN  3.367500e+03
38                            Spotify         NaN  2.173915e+02
39                           Telefono         NaN  5.276780e+03
40                            Seguros         NaN  2.277740e+03
41                         Transporte         NaN  1.042200e+04
42                        Combustible         NaN  3.000000e+03
43      Compra de bienes y servicios          NaN  0.000000e+00
44               Gastos de Publicidad         NaN  9.987668e+03
45                           Facebook         NaN  9.987668e+03
46            Propaganda y Publicidad         NaN  0.000000e+00
47                 Gastos Financieros         NaN  4.129798e+04
48                  Comisiones Banpro         NaN  2.551756e+04
49                     Comisiones BAC         NaN  3.216987e+03
50                          Alcaldia          NaN  1.256343e+04
51                              Intur         NaN           NaN
52                                NaN         NaN           NaN
53             Total Gastos Operaci√≥n         NaN  4.953009e+05
54                                NaN         NaN           NaN
55             Utilidad del Ejercicio         NaN  4.514874e+05

          Febrero                                         Marzo         Abril
0   366758.174200                   C$               476 665,57  6.109685e+05
1   220054.904500                                  C$274 925,77  3.665811e+05
2   146703.269700                                  C$201 739,80  2.443874e+05
3   598394.920000                   C$               767 031,24  6.134173e+05
4   598394.920000                                  C$767 031,24  6.134173e+05
5   965153.094200                     C$           1 243 696,81  1.224386e+06
6             NaN                                           NaN           NaN
7             NaN                                           NaN           NaN
8    46291.776484                 C$                  81 584,52  8.160232e+04
9    42942.430000                 C$                  38 015,00  6.501148e+04
10   58899.850000                 C$                  60 635,78  1.161603e+05
11   60886.140000                 C$                  68 476,36  7.377462e+04
12  209020.196484                   C$               248 711,66  3.365487e+05
13  756132.897716                   C$               994 985,15  8.878371e+05
14            NaN                                           NaN           NaN
15  204772.279500                   C$               261 645,09  2.405080e+05
16  144650.949500                   C$               152 850,12  1.703189e+05
17   30034.950000                 C$                  30 406,00  3.203994e+04
18   28663.570000                 C$                  36 418,59  3.641859e+04
19    1422.810000               C$                     3 288,38  1.730560e+03
20       0.000000               C$                     1 617,00  0.000000e+00
21       0.000000                 C$                  37 065,00  0.000000e+00
22       0.000000   C$                                      -    0.000000e+00
23  184788.539198                   C$               222 396,34  2.033946e+05
24   32122.222842                 C$                  33 368,22  3.025475e+04
25    2052.085650               C$                     2 053,82  2.055498e+03
26    2888.900754               C$                     5 471,16  3.274245e+03
27    4646.430393               C$                     4 650,36  4.654157e+03
28   31633.580000                 C$                  50 431,05  5.107608e+04
29    1288.000000               C$                     1 088,00  6.880000e+02
30   28956.250000                 C$                  26 853,45  3.128978e+04
31    9532.450000               C$                     9 564,97  9.428330e+03
32    5548.000000               C$                     4 638,00  4.196000e+03
33    3280.000000               C$                     4 625,00  4.606000e+03
34   18545.000000                 C$                  17 960,00  1.752000e+04
35   11711.000000                 C$                  25 666,79  7.578000e+03
36    2923.768050               C$                     3 344,27  3.347006e+03
37    6761.130000               C$                     3 378,63  4.511720e+03
38     217.557399             C$                         217,74  2.179192e+02
39    6231.790000               C$                     6 235,42  6.239440e+03
40    8030.374110               C$                     7 640,47  7.646719e+03
41    6570.000000                 C$                  11 453,00  1.165100e+04
42    1850.000000               C$                     3 756,00  3.160000e+03
43       0.000000   C$                                      -    0.000000e+00
44   21330.721207               C$                     6 836,49  1.221803e+04
45    6830.721207               C$                     6 836,49  1.221803e+04
46   14500.000000   C$                                      -    0.000000e+00
47   37721.058669                 C$                  42 100,59  4.350756e+04
48   22677.000402                 C$                  23 758,97  2.708833e+04
49    5392.528267               C$                     5 904,66  4.175372e+03
50    9651.530000                 C$                  12 436,96  1.224385e+04
51       0.000000   C$                                      -    0.000000e+00
52            NaN                                           NaN           NaN
53  448612.598574                   C$               532 978,52  4.996282e+05
54            NaN                                           NaN           NaN
55  307520.299142                   C$               462 006,63  3.882089e+05

In [12]:
import pandas as pd

file_path = 'testpandas.xlsx'

df = pd.read_excel(file_path)

In [13]:
print(df)

                           Unnamed: 0  Unnamed: 1         Enero  \
0          Ingresos Bar y Restaurante         NaN  5.863843e+05
1   Ventas x Servicios de Restaurante         NaN  4.090400e+05
2           Ventas x Servicios de Bar         NaN  1.773443e+05
3            Ingreso por Habitaciones         NaN  6.699596e+05
4           Servicios de Habitaciones         NaN  6.699596e+05
5                    Total de ingreso         NaN  1.256344e+06
6                                 NaN         NaN           NaN
7                     COSTO DE VENTAS         NaN           NaN
8                         Restaurante         NaN  1.025808e+05
9                            Mariscos         NaN  4.685857e+04
10                                Bar         NaN  8.078479e+04
11                              Hotel         NaN  7.933158e+04
12               Menos Costo de Venta         NaN  3.095557e+05
13                       MARGEN BRUTO         NaN  9.467882e+05
14                            EGRESOS         NaN           NaN
15           Gastos de Administracion         NaN  2.682550e+05
16                     Salarios Fijos         NaN  1.569019e+05
17                Salarios Eventuales         NaN  3.672500e+04
18                               INSS         NaN  3.052565e+04
19                             INATEC         NaN  1.502430e+03
20                          Uniformes         NaN  0.000000e+00
21                             Bonos          NaN  4.260000e+04
22                Gastos del personal         NaN  0.000000e+00
23                   Gastos Generales         NaN  1.757602e+05
24                        Booking.com         NaN  1.604777e+04
25                           Sistema          NaN  2.050521e+03
26                             Correo         NaN  2.886697e+03
27                    Little Hotelier         NaN  4.642887e+03
28                      Mantenimiento         NaN  4.702551e+04
29                       Tren de aseo         NaN  2.688000e+03
30                  Energia Electrica         NaN  2.593628e+04
31            Servicios Profesionales         NaN  9.526230e+03
32                       Agua potable         NaN  5.548000e+03
33                     Gas de Cocinar         NaN  4.280000e+03
34                Comida del Personal         NaN  2.034500e+04
35                    Gestiones admon         NaN  7.300390e+03
36                           Internet         NaN  2.921538e+03
37                              Cable         NaN  3.367500e+03
38                            Spotify         NaN  2.173915e+02
39                           Telefono         NaN  5.276780e+03
40                            Seguros         NaN  2.277740e+03
41                         Transporte         NaN  1.042200e+04
42                        Combustible         NaN  3.000000e+03
43      Compra de bienes y servicios          NaN  0.000000e+00
44               Gastos de Publicidad         NaN  9.987668e+03
45                           Facebook         NaN  9.987668e+03
46            Propaganda y Publicidad         NaN  0.000000e+00
47                 Gastos Financieros         NaN  4.129798e+04
48                  Comisiones Banpro         NaN  2.551756e+04
49                     Comisiones BAC         NaN  3.216987e+03
50                          Alcaldia          NaN  1.256343e+04
51                              Intur         NaN           NaN
52                                NaN         NaN           NaN
53             Total Gastos Operaci√≥n         NaN  4.953009e+05
54                                NaN         NaN           NaN
55             Utilidad del Ejercicio         NaN  4.514874e+05

          Febrero                                         Marzo         Abril
0   366758.174200                   C$               476 665,57  6.109685e+05
1   220054.904500                                  C$274 925,77  3.665811e+05
2   146703.269700                                  C$201 739,80  2.443874e+05
3   598394.920000                   C$               767 031,24  6.134173e+05
4   598394.920000                                  C$767 031,24  6.134173e+05
5   965153.094200                     C$           1 243 696,81  1.224386e+06
6             NaN                                           NaN           NaN
7             NaN                                           NaN           NaN
8    46291.776484                 C$                  81 584,52  8.160232e+04
9    42942.430000                 C$                  38 015,00  6.501148e+04
10   58899.850000                 C$                  60 635,78  1.161603e+05
11   60886.140000                 C$                  68 476,36  7.377462e+04
12  209020.196484                   C$               248 711,66  3.365487e+05
13  756132.897716                   C$               994 985,15  8.878371e+05
14            NaN                                           NaN           NaN
15  204772.279500                   C$               261 645,09  2.405080e+05
16  144650.949500                   C$               152 850,12  1.703189e+05
17   30034.950000                 C$                  30 406,00  3.203994e+04
18   28663.570000                 C$                  36 418,59  3.641859e+04
19    1422.810000               C$                     3 288,38  1.730560e+03
20       0.000000               C$                     1 617,00  0.000000e+00
21       0.000000                 C$                  37 065,00  0.000000e+00
22       0.000000   C$                                      -    0.000000e+00
23  184788.539198                   C$               222 396,34  2.033946e+05
24   32122.222842                 C$                  33 368,22  3.025475e+04
25    2052.085650               C$                     2 053,82  2.055498e+03
26    2888.900754               C$                     5 471,16  3.274245e+03
27    4646.430393               C$                     4 650,36  4.654157e+03
28   31633.580000                 C$                  50 431,05  5.107608e+04
29    1288.000000               C$                     1 088,00  6.880000e+02
30   28956.250000                 C$                  26 853,45  3.128978e+04
31    9532.450000               C$                     9 564,97  9.428330e+03
32    5548.000000               C$                     4 638,00  4.196000e+03
33    3280.000000               C$                     4 625,00  4.606000e+03
34   18545.000000                 C$                  17 960,00  1.752000e+04
35   11711.000000                 C$                  25 666,79  7.578000e+03
36    2923.768050               C$                     3 344,27  3.347006e+03
37    6761.130000               C$                     3 378,63  4.511720e+03
38     217.557399             C$                         217,74  2.179192e+02
39    6231.790000               C$                     6 235,42  6.239440e+03
40    8030.374110               C$                     7 640,47  7.646719e+03
41    6570.000000                 C$                  11 453,00  1.165100e+04
42    1850.000000               C$                     3 756,00  3.160000e+03
43       0.000000   C$                                      -    0.000000e+00
44   21330.721207               C$                     6 836,49  1.221803e+04
45    6830.721207               C$                     6 836,49  1.221803e+04
46   14500.000000   C$                                      -    0.000000e+00
47   37721.058669                 C$                  42 100,59  4.350756e+04
48   22677.000402                 C$                  23 758,97  2.708833e+04
49    5392.528267               C$                     5 904,66  4.175372e+03
50    9651.530000                 C$                  12 436,96  1.224385e+04
51       0.000000   C$                                      -    0.000000e+00
52            NaN                                           NaN           NaN
53  448612.598574                   C$               532 978,52  4.996282e+05
54            NaN                                           NaN           NaN
55  307520.299142                   C$               462 006,63  3.882089e+05

In [14]:
print(df.enero)

AttributeError: 'DataFrame' object has no attribute 'enero'

In [15]:
print(df.1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2768294011.py, line 1)

In [1]:
df.isnull().sum()

NameError: name 'df' is not defined